<a href="https://colab.research.google.com/github/Mafia3641/Collab_practice/blob/main/Practice_0_5_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ФИО:

In [ ]:
*************

# **Задание 1**



Дан словарь, содержащий имена и возраст людей, напишите программу выводящую возраст человека по имени

Дано:

```
{"Alice": 25, "Bob": 30, "Charlie": 35}
```

Вввод:


```
Alice
```

Вывод:


```
Alice 25
```

In [ ]:
dict_n = {"Alice": 25, "Bob": 30, "Charlie": 35}
name = input()

print(name, dict_n[name])

Alice
Alice 25

# **Задание 2**



Дан список, состоящий из целых чисел, необходимо написать функцию считающую сумму всех положительных четных чисел списка

Ввод:

```
1, 2, 3, 4, 5, 6, 7, 8, 9
```

Вывод:


```
20
```

***Запрещено:***

*   Использование готовых функций для суммирования чисел

In [ ]:
list_n = [1, 2, 3, 4, 5, 6, 7, 8, 9]
s = 0

for i in list_n:
    if i%2 == 0:
      s += i

print(s)

20

# **Задание 3**

Дан словарь, содержащий название фрукта и его цвет, выведите список всех желтых фруктов


Дано:

```
fruits_and_colors = {
    "apple": "red",
    "banana": "yellow",
    "mango": "yellow",
    "orange": "orange",
    "lemon": "yellow",
    "grape": "purple"
}
```

Вывод:


```
Yellow fruits:
banana
lemon
mango
```

In [ ]:
fruits_and_colors = {
    "apple": "red",
    "banana": "yellow",
    "mango": "yellow",
    "orange": "orange",
    "lemon": "yellow",
    "grape": "purple"
}

print("Yellow fruits")

for k, v in fruits_and_colors.items():
    if v == 'yellow':
        print(k)

Yellow fruits
banana
mango
lemon

# **Задание 4**



Дан словарь, необходимо написать функцию меняющую ключ и значение местами

Дано:


```
{"a": 1, "b": 2, "c": 3}
```

Вывод:

```
{1: 'a', 2: 'b', 3: 'c'}
```

In [ ]:
dict_n = {"a": 1, "b": 2, "c": 3}

for k, v in dict_n.items():
    del dict_n[k]
    dict_n[v]=k

print(dict_n)

{1: 'a', 2: 'b', 3: 'c'}

# **Задание 5**

Дан список слов, неограниченной длинны, сформируйте словарь, где в качестве ключа будет слово, а в качестве значения количество слов

**Критерии**


*   Словарь необходимо отсортировать по убыванию количества элементов в списке.
*   Подсчет элементов должен быть реализован в отдельной функции
*   Сортировка пары `ключ:значение` должна быть реализована также в виде отдельной функции




Дано:
```
['apple','banana','orange','apple','apple','banana']
```


Вывод:
```
{'apple':3, 'banana': 2, 'orange': 1}
```

***Запрещено:***

*   Использование готовых функций для сортировки
*   Использование готовых функций для подсчета элементов

In [ ]:
def count_w(word):
    c = 0
    for w in list_w:
        if w == word:
            c += 1
    return c


def sort_w(dict_):
    max_v = 0
    for k, v in dict_.items():
        if v < max_v:
            del dict_[k]
            dict_[k] = v
            max_v = v
    return dict_


list_w = ['apple', 'banana', 'orange', 'apple', 'apple', 'banana']
set_w = list(set(list_w))

dict_w = {}

for i in set_w:
    dict_w[i] = count_w(i)

dict_w = sort_w(dict_w)
dict_w = dict(reversed(dict_w.items()))

print(dict_w)

{'banana': 2, 'apple': 3, 'orange': 1}

# **Задание 6**

Дан словарь, содержащий информацию о людях, необходимо:



*   Вывести всех людей старше 30 лет
*   Вывести список городов и количество людей из словаря проживающих в них
*   Вывести список профессий и список людей для каждой профессии

**Критерии**

Каждый из пунктов необходимо реализовать в виде функции

In [ ]:
people_info = {
    "Alice": {"age": 25, "city": "New York", "occupation": "Engineer"},
    "Bob": {"age": 30, "city": "Los Angeles", "occupation": "Designer"},
    "Charlie": {"age": 35, "city": "Chicago", "occupation": "Teacher"},
    "Diana": {"age": 28, "city": "Miami", "occupation": "Doctor"},
    "Ethan": {"age": 40, "city": "Seattle", "occupation": "Chef"},
    "Frank": {"age": 32, "city": "Atlanta", "occupation": "Lawyer"},
    "Gabriella": {"age": 29, "city": "San Francisco", "occupation": "Software Engineer"},
    "Harrison": {"age": 38, "city": "Denver", "occupation": "Architect"},
    "Isabella": {"age": 26, "city": "Washington D.C.", "occupation": "Journalist"},
    "Julian": {"age": 42, "city": "Miami", "occupation": "Musician"},
    "Kate": {"age": 31, "city": "Philadelphia", "occupation": "Nurse"},
    "Lucas": {"age": 36, "city": "Nashville", "occupation": "Businessman"},
    "Mia": {"age": 27, "city": "Atlanta", "occupation": "Artist"},
    "Natalie": {"age": 39, "city": "Portland", "occupation": "Writer"},
    "Oliver": {"age": 44, "city": "Minneapolis", "occupation": "Professor"},
    "Penelope": {"age": 33, "city": "San Diego", "occupation": "Marketing Manager"},
    "Quincy": {"age": 41, "city": "Nashville", "occupation": "Singer"},
    "Rachel": {"age": 34, "city": "Cleveland", "occupation": "Teacher"},
    "Sophia": {"age": 29, "city": "Nashville", "occupation": "Engineer"},
    "Tessa": {"age": 37, "city": "Miami", "occupation": "Lawyer"}
}

In [ ]:
people_info = {
    "Alice": {"age": 25, "city": "New York", "occupation": "Engineer"},
    "Bob": {"age": 30, "city": "Los Angeles", "occupation": "Designer"},
    "Charlie": {"age": 35, "city": "Chicago", "occupation": "Teacher"},
    "Diana": {"age": 28, "city": "Miami", "occupation": "Doctor"},
    "Ethan": {"age": 40, "city": "Seattle", "occupation": "Chef"},
    "Frank": {"age": 32, "city": "Atlanta", "occupation": "Lawyer"},
    "Gabriella": {"age": 29, "city": "San Francisco", "occupation": "Software Engineer"},
    "Harrison": {"age": 38, "city": "Denver", "occupation": "Architect"},
    "Isabella": {"age": 26, "city": "Washington D.C.", "occupation": "Journalist"},
    "Julian": {"age": 42, "city": "Miami", "occupation": "Musician"},
    "Kate": {"age": 31, "city": "Philadelphia", "occupation": "Nurse"},
    "Lucas": {"age": 36, "city": "Nashville", "occupation": "Businessman"},
    "Mia": {"age": 27, "city": "Atlanta", "occupation": "Artist"},
    "Natalie": {"age": 39, "city": "Portland", "occupation": "Writer"},
    "Oliver": {"age": 44, "city": "Minneapolis", "occupation": "Professor"},
    "Penelope": {"age": 33, "city": "San Diego", "occupation": "Marketing Manager"},
    "Quincy": {"age": 41, "city": "Nashville", "occupation": "Singer"},
    "Rachel": {"age": 34, "city": "Cleveland", "occupation": "Teacher"},
    "Sophia": {"age": 29, "city": "Nashville", "occupation": "Engineer"},
    "Tessa": {"age": 37, "city": "Miami", "occupation": "Lawyer"}
}


#Получаем информацию о человеке по его имени в качестве ключа
def get_info(name):
    for k, v in people_info.items():
        for i in range(len(people_info)):
            if name == k:
                return v


def older_30(dict_=people_info):
    for k, v in dict_.items():
        if v['age'] >= 30:
            print(k)


def cities(dict_ = people_info):
    city = []
    for name in people_info.keys():
        city.append(people_info[name]['city'])
    for i in list(set(city)):
        c = 0
        for k, v in dict_.items():
            if v['city'] == i:
                c += 1
        print(i, c)


def profession(dict_ = people_info):
    professions = []
    for name in people_info.keys():
        professions.append(people_info[name]['occupation'])
    for i in list(set(professions)):
        pr = []
        for k, v in dict_.items():
            if v["occupation"] == i:
                pr.append(k)
        print(i, pr)


print("\n   List of people age 30+: ")
older_30()

print("\n   List of cities and its population: ")
cities()

print("\n   List of professions and specialists for each of them: ")
profession()

   List of people age 30+:
Bob
Charlie
Ethan
Frank
Harrison
Julian
Kate
Lucas
Natalie
Oliver
Penelope
Quincy
Rachel
Tessa

   List of cities and its population:
Washington D.C. 1
Denver 1
Portland 1
Minneapolis 1
Miami 3
Cleveland 1
Philadelphia 1
San Diego 1
Nashville 3
New York 1
Seattle 1
Atlanta 2
Chicago 1
San Francisco 1
Los Angeles 1

   List of professions and specialists for each of them:
Architect ['Harrison']
Businessman ['Lucas']
Nurse ['Kate']
Singer ['Quincy']
Software Engineer ['Gabriella']
Designer ['Bob']
Journalist ['Isabella']
Musician ['Julian']
Professor ['Oliver']
Lawyer ['Frank', 'Tessa']
Artist ['Mia']
Marketing Manager ['Penelope']
Doctor ['Diana']
Chef ['Ethan']
Engineer ['Alice', 'Sophia']
Writer ['Natalie']
Teacher ['Charlie', 'Rachel']

# **Задание 7**

Задание: Разработка системы отзывов о предметах

Описание: Создать программу на Python для хранения и управления отзывами о предметах учебного курса. Программа должна позволять пользователям добавлять, просматривать и удалять отзывы, а также вычислять средний балл по заданному предмету.

**Функционал:**

*   Добавление отзыва и оценки:
   *   Пользователь может ввести название предмета, оценку (от 1 до 5) и текст отзыва.
   *   Отзывы должны храниться в структуре данных (например, словаре), где ключом будет название предмета, а значением - список отзывов (каждый отзыв может хранить оценку и комментарий).
*   Просмотр отзывов и оценок:
   *   Пользователь может запросить отзывы для указанного предмета.
   *   Если для указанного предмета есть отзывы, программа должна отобразить список всех отзывов и соответствующих оценок.
*   Удаление отзыва:
   *   Пользователь может удалить отзыв по индексу. Необходимо заранее уведомить пользователя о том, какие отзывы доступны для удаления.
   *   Программа должна обработать ситуацию, когда индекс введен неправильно.
*   Вычисление среднего балла по предмету:
   *   Пользователь может ввести название предмета, и программа должна вычислить и вывести средний балл по всем отзывам для этого предмета.
   *   Если отзывов нет, программа должна сообщить об этом.


**Критерии:**

*   Код должен быть оформлен в виде функций
*   Необходимо обрабатывать неправильный ввод пользователя
*   Должны быть комментарии к функциям
*   Присутсвует весь дополнительный функционал



**Опционально:**

Предлагаю вам добавить свои критерии оценки или вопросы, на которые должен ответить студент, чтобы оценить пару

In [ ]:

"""
Создание отзыва о предмете
Ввод:   ( <ФИО>  <Название пары>  <Оценка (1-5)>  <Отзыв> )
Вывод:  ( <> )
"""
def add_mark(name, lesson, mark, feedback):
    try:
        if lesson == 'physics':
            physics[name] = [mark, feedback]
            print(physics)
        elif lesson == 'math':
            math[name] = [mark, feedback]
            print(math)
        elif lesson == 'nat_lang':
            nat_lang[name] = [mark, feedback]
            print(nat_lang)
    except:
        print("Wrong interrupt!")



"""
Просмотр отзывов и оценок пары
Ввод:   ( <Название пары> )
Вывод:  ( <
"""
def check_mark(lesson):
    if lesson not in lessons_list:
        print("Wrong lesson name! ")
        return
    lesson = lessons_list[lesson]
    for k, v in lesson.items():
        print(v[1])


def del_mark(lesson, index):
    if lesson not in lessons_list:
        print("Wrong lesson name! ")
        return

    lesson = lessons_list[lesson]
    c = 0

    for k, v in lesson.items():
        if c == index:
            lesson[k] = [v[0], '']

        else:
            c+=1

    return lesson



def avg_mark(lesson):
    marks_list = []
    c = 0

    for mark in lessons_list[lesson].values():
        marks_list.append(mark[0])
        c += 1

    print(sum(marks_list)/c)




physics = {}

math = {}

nat_lang = {}

lessons_list = {'physics': physics,
                'math': math,
                'nat_lang': nat_lang}

add_mark("Mark", "physics", 3, 'awful lesson!')
add_mark("Lisa", "physics", 4, 'awful lesson!')


avg_mark('physics')


del_mark('physics', 1)

{'Mark': [3, 'awful lesson!']}
{'Mark': [3, 'awful lesson!'], 'Lisa': [4, 'awful lesson!']}
3.5

{'Mark': [3, 'awful lesson!'], 'Lisa': [4, '']}